article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100% height : 100 %;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    margin: 0;
    background: #f2f2f2;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*overflow:hidden*/
}

a {
    background: transparent
}

a:focus {
    outline: thin dotted
}

a:active, a:hover {
    outline: 0
}

a:visited{

}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

mark {
    background: #ff0;
    color: #000
}

code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em
}

pre {
    white-space: pre-wrap
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button, input {
    line-height: normal
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.ui-btn, input.ui-input, textarea.ui-textarea, .geo-city-hot, .geo-city, .grst-filter-dropdown, .mdish-minus, .mdish-price, .rinfo-data, .cdish-control, .cdish-edit {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.mdish-minus, .mdish-price {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ui-block, .ui-padding-block, .logreg-inputs, .geo-cities-wrapper, .geo-search, .geo-search-results, .geo-search-empty, .delivery-list, .trade-block {
    margin-top: 5px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff
}

.ui-center-container, .eleme-header, .header-title.flex, .drawer-user, .geo-title.flex, .geo-locate-city.covered, .grst-block, .rst-flex, .menu-dish, .mdish-controls, .rinfo-header, .rinfo-datas, .menu-cart, .cart-extra, .cdish-detail, .cdish-control, .cdish-edit, .delivery-block, .dlist-item, .dblock-content, .order-success, .order-success-footer, .torder-summary, .torder-rst, .tbill-list-item, .spell-infor, .persondish, .persondish-detail, .payway-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.torder-rst {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start
}

.ui-center-container, .eleme-header, .header-title.flex, .drawer-user, .geo-locate-city.covered, .menu-cart, .cart-extra, .cdish-detail, .delivery-block, .dlist-item, .dblock-content, .order-success, .torder-summary, .tbill-list-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

.geo-title.flex {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end
}

.mdish-controls {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch
}

.eleme-header, .geo-title.flex, .geo-locate-city.covered, .menu-dish, .menu-cart, .cart-extra, .cdish-detail, .cdish-control, .delivery-block, .dlist-item, .torder-summary, .tbill-list-item {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.ui-center-container, .header-title.flex {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center
}

.dblock-content {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
}

.persondish-detail > .cdish-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.eleme-svg, .mdish-minus, .cdish-remove {
    position: relative
}

.eleme-svg:after, .mdish-minus:after, .cdish-remove:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent
}

html {
    min-height: 100%
}

body {
    min-width: 20em;
    min-height: 100%;
    width: 100%;
    background : #f2f2f2;
    font: 100%/1.5 "Helvetica Neue", "Microsoft Yahei", sans-serif
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 0.6em
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0
}

a {
    text-decoration: none;
    cursor: pointer
}

a:focus {
    outline: none;
    text-decoration: underline
}

img {
    max-width: 100%
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    vertical-align: text-bottom
}

.container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    min-width: 20em;
    max-width: 37.5em
}

.container:after {
    content: "";
    display: table;
    clear: both
}

.group:after {
    content: "";
    display: table;
    clear: both
}

.line-through {
    text-decoration: line-through
}

.order-overview {
	width: 100%;
}

.clear-margin {
    margin: 0 !important
}

.float-r {
    float: right
}

.ui_hide, .hide {
    display: none !important
}

.pt10 {
    padding-top: 10px
}

.pb10 {
    padding-bottom: 10px
}

.ptb10 {
    padding-top: 10px;
    padding-bottom: 10px
}

.p10 {
    padding: 10px
}

.m10 {
    margin: 10px
}

.pt20 {
    padding-top: 20px
}

.pb20 {
    padding-bottom: 20px
}

.ptb20 {
    padding-top: 20px;
    padding-bottom: 20px
}

.p20 {
    padding: 20px
}

.m20 {
    margin: 20px
}

.eleme-svg {
    margin: 0
}

.eleme-svg.svg-logo-eleme {
    width: 78px;
    height: 22px;
    fill: #fff
}

.eleme-svg.svg-arrow-forward {
    width: 9px;
    height: 16px;
    fill: #ddd
}

.eleme-svg.svg-arrow-back {
    width: 9px;
    height: 16px;
    fill: #fff
}

.eleme-svg.svg-menu {
    width: 14px;
    height: 12px;
    fill: #fff
}

.eleme-svg.svg-logo-e {
    width: 21px;
    height: 21px;
    fill: #b2b2b2
}

.eleme-svg.svg-order {
    width: 21px;
    height: 21px;
    fill: #b2b2b2
}

.eleme-svg.svg-triangle {
    width: 10px;
    height: 5px;
    fill: #666
}

.eleme-svg.svg-rating-star {
    width: 50px;
    height: 10px
}

.eleme-svg.svg-cart {
    width: 14px;
    height: 16px;
    fill: #fff
}

.eleme-svg.svg-remove {
    width: 15px;
    height: 20px;
    fill: #184202;
}

.eleme-svg.svg-minus {
    width: 12px;
    height: 2px;
    fill: #fff
}

.eleme-svg.svg-loading {
    width: 48px;
    height: 48px;
    fill: #3199e8
}

.eleme-svg.svg-download {
    width: 20px;
    height: 20px;
    fill: #fff
}

.eleme-svg.svg-close {
    width: 20px;
    height: 20px;
    fill: #999;
    stroke: #999
}

.eleme-svg.svg-pause {
    width: 20px;
    height: 20px;
    fill: #08c
}

.eleme-svg.svg-checkmark {
    width: 20px;
    height: 20px;
    fill: #999
}

.eleme-svg.svg-time {
    width: 20px;
    height: 20px;
    fill: #999
}

.eleme-svg.svg-sofa {
    width: 95px;
    height: 74px;
    fill: none
}

.eleme-svg.svg-host {
    width: 81px;
    height: 79px;
    fill: #999
}

.eleme-svg.svg-position {
    width: 20px;
    height: 20px;
    fill: #08c
}

.eleme-svg.svg-selected {
    width: 20px;
    height: 20px;
    fill: #184202;
}

.eleme-svg.svg-unselected {
    width: 20px;
    height: 20px;
    fill: #999
}

.eleme-svg.svg-success {
    width: 100%;
    height: 100%;
    fill: #4cd964
}

.eleme-svg.svg-search {
    width: 20px;
    height: 20px;
    fill: #08c
}

#svg-rating-star > .on {
    fill: #fdcc00
}

#svg-rating-star > .off {
    fill: #d1d1d1
}

.symbol-menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 14px;
    height: 12px;
    border: 2px solid #fff;
    border-width: 2px 0
}

.symbol-menu:before {
    content: "";
    position: absolute;
    top: 3px;
    width: 100%;
    height: 2px;
    background: #fff
}

input {
    -webkit-appearance: none !important
}

.ui-btn {
    display: block;
    width: 100%;
    padding: 10px 0;
    background: #321705;
    border: none;
    color: #fff;
    border-radius: 6px;
    text-align: center;
}

.ui-btn:focus {
    outline: none;
    opacity: 0.8
}

.ui-btn:disabled, .ui-btn.disabled {
    color: rgba(255, 255, 255, 0.6)
}

.ui-btn.freezed, .ui-btn.ui_freezed {
    color: #999;
    background: #ccc
}

.ui-btn.btn-confirm {
    background: #321705;
	font-weight: bold;
}

.ui-btn.btn-confirm a{
    color:white;
}

input.ui-input, textarea.ui-textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px 4px;
    background: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem
}

input.ui-input:focus, textarea.ui-textarea:focus , select.ui-input:focus{
    outline: none;
    border-color: #184202;
}

.input-tip {
    margin: 0;
    max-height: 0;
    overflow: hidden;
    color: #ea3106;
    font-size: 0.875rem;
    line-height: 1.8;
    clear: both;
    -webkit-transition: max-height 0.3s;
    transition: max-height 0.3s
}

.input-tip > .helper {
    color: inherit;
    text-decoration: underline
}

.input-group {
    margin-bottom: 10px;
    position: relative
}

.input-group .ui-input {
    margin-bottom: 0
}

.sum-district{
	display:inline-block!important;
	width:23%!important;
	height: 39px;
	background: #f2f2f2;
	border: 1px solid #ddd;
	border-radius: 6px;
}

.sum-address{
	display:inline-block!important;
	width:75%!important;
}

.input-group.ui_error .ui-input, .input-group.ui_error > .ui-textarea {
    border-color: #ea3106
}

.input-group.ui_error > .input-tip {
    max-height: 10em;
    min-height: 1.8em
}

.input-group.autoaddress [name="address"] {
    /*padding-right: 36px*/
}

.input-group.autoaddress .autoaddress-trigger {
    display: inline-block
}

.input-group > .autoaddress-trigger {
    display: none;
    position: absolute;
    right: 8px;
    top: 8px
}

.input-group > .autoaddress-trigger .eleme-svg {
    width: 20px !important;
    height: 20px !important
}

.input-btn-group {
    position: relative
}

.input-btn-group > .ui-input {
    padding-right: 135px
}

.input-btn-group > .ui-btn {
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    padding: 0;
    width: 120px
}

.ui-loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 5px;
    overflow: hidden;
    background: #3199e8;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s
}

.ui-loader.ui_loading {
    -webkit-transform: scaleY(1);
    transform: scaleY(1)
}

.ui-loader > .ui-loader-bar {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #8dc6f2;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-animation: loading 3s ease 0.3s infinite;
    animation: loading 3s ease 0.3s infinite
}

@-webkit-keyframes loading {
    50% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

@keyframes loading {
    50% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%)
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}

.site-loader {
    z-index: 15;
    background: #f2f2f2;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    pointer-events: none;
    z-index: -1
}

.site-loader.ui_loading {
    pointer-events: auto;
    visibility: visible;
    opacity: 1
}

.ui-padding-block {
    padding: 8px 10px;
}

.ui-flashbar {
    padding: 10px;
    background: #fffeea;
    border-bottom: 1px solid #ddd;
    font-size: 0.875rem
}

.ui-flashbar.error {
    color: #ea3106
}

.ui-rmb:before {
    content: "¥";
    margin: 0 0.1em 0 0;
    font-family: Arial, sans-serif;
    font-size: 0.9em
}

.ui-quantity:after {
    content: "份";
    margin: 0 0 0 0.1em
}

.ui-multiple:before {
    content: "×";
    margin: 0 0.2em 0 0;
    font-family: Verdana, sans-serif;
    font-size: 0.9em
}

.ui-parenthese:before {
    content: "("
}

.ui-parenthese:after {
    content: ")"
}

.ui-x {
    margin: 0;
    color: #999;
    font: bold 1em/1 Verdana, sans-serif
}

.ui-top-tooltip, .ui-bottom-tooltip {
    position: absolute;
    padding: 2px 8px;
    background: #000;
    border-radius: 2px;
    color: #fff;
    font-size: 0.75rem;
    opacity: 0.8
}

.ui-top-tooltip:after, .ui-bottom-tooltip:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent
}

.ui-top-tooltip:after {
    bottom: -4px;
    border-top: 4px solid #000
}

.ui-bottom-tooltip:after {
    top: -4px;
    border-bottom: 4px solid #000
}

.rst-badge, .rst-activity-flag {
    display: inline-block;
    height: 14px;
    min-width: 0.625rem;
    padding: 0 2px;
    border-radius: 2px;
    font-weight: normal !important;
    font-size: 0.625rem !important;
    line-height: 14px !important;
    vertical-align: text-bottom;
    text-align: center
}

.rst-badge-large {
    display: inline-block;
    height: 16px;
    min-width: 0.75rem;
    padding: 0 2px;
    background: #ff6000;
    border-radius: 2px;
    font-weight: normal !important;
    font-size: 0.75rem !important;
    line-height: 16px !important;
    vertical-align: text-bottom;
    text-align: center;
    color: #fff
}

.rst-badge {
    background: #ff6000;
    color: #fff
}

.rst-badge.featured {
    background: #ec9c68
}

.rst-badge.featured:before {
    content: "招牌"
}

.rst-badge.new {
    background: #5ec452
}

.rst-badge.new:before {
    content: "新"
}

.rst-badge.spicy {
    background: #f54f50
}

.rst-badge.spicy:before {
    content: "辣"
}

.rst-activity-flag {
    box-shadow: inset 0 0 0 1px #ff6000;
    color: #ff6000
}

.ui-center-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%
}

.ui-center-block {
    text-align: center
}

.ui-center-block > .eleme-svg {
    fill: #ddd
}

.ui-center-block > .svg-cart {
    width: 50px;
    height: 57px
}

.ui-center-block > .svg-404 {
    width: 70px;
    height: 75px
}

.ui-center-block > .svg-order, .ui-center-block > .svg-logo-e {
    width: 55px;
    height: 55px
}

.ui-center-block-title {
    margin: 10px 0 4px;
    font: normal 1.2em/1.5 "Helvetica Neue", "Microsoft Yahei", sans-serif;
    color: #666
}

.ui-center-block-desc {
    font-size: 0.75em;
    color: #999
}

.header-user-info > .link, .header-back, .header-menu, .header-helper {
    color: #fff
}

.header-user-info > .link:visited, .header-back:visited, .header-menu:visited, .header-helper:visited {
    color: inherit
}

.eleme-logo, .header-back {
    padding: 0 0 0 10px
}

.header-home {
    padding-right: 10px
}

.header-user-info, .header-helper {
    padding: 0 10px 0 0
}

.eleme-header {
    position: relative;
    z-index: 20;
    height: 44px;
    background: #321705;
    color: #fff;
    line-height: 44px
}

.eleme-logo {
    display: block
}

.eleme-logo > .eleme-svg {
    display: block
}

.header-user-info {
    font-size: 0.75rem
}

.header-user-info > .link {
    padding: 4px
}

.header-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 65px;
    right: 65px;
    overflow: hidden;
    margin: 0;
    text-align: center;
    font-size: 1.05rem;
    color: #fff
}

.header-title > .header-rst-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%
}

.header-title > .eleme-svg {
    fill: #fff;
    margin: 0 0 0 5px
}

.header-back {
    display: block;
    position: relative
}

.header-back > .eleme-svg {
    position: relative;
    top: 2px
}

.header-menu {
    display: block;
    padding: 0 10px
}

.header-helper {
    display: block
}

body.ui_fix {
    position: fixed;
    overflow: hidden
}

.eleme-drawer-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s
}

.eleme-drawer-wrapper.ui_show {
    visibility: visible;
    opacity: 1;
    z-index: 30;
    pointer-events: auto
}

.eleme-mask {
    position: absolute;
    top: 44px;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.6
}

.eleme-drawer {
    position: absolute;
    top: 44px;
    left: 0;
    bottom: 0;
    width: 80%;
    overflow-y: auto;
    background: #2e2e2e;
    color: #ddd
}

.drawer-user {
    padding: 20px 16px;
    color: #ddd
}

.drawer-user > .duser-avatar {
    width: 2.9em;
    height: 2.9em;
    border-radius: 50%
}

.drawer-user > .duser-info {
    margin-left: 0.8em;
    width: calc(100% - 3.7em)
}

.drawer-user > .duser-info > .duser-name {
    margin: 0;
    font-size: 1.05em
}

.drawer-user > .duser-info > .duser-point {
    margin: 0;
    font-size: 0.82em;
    color: #999
}

.eleme-nav {
    border-top: 1px solid #292929
}

.enav-link {
    display: block;
    padding: 20px 16px;
    color: #ddd;
    border-bottom: 1px solid #292929;
    font-size: 1.05em
}

.enav-link > .eleme-svg {
    margin: 0 6px 0 0;
    vertical-align: text-bottom
}

.drawer-logout {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 12px 16px
}

.drawer-logout > .link {
    color: #aaa;
    font-size: 0.75em
}

.logreg-form {
    margin: 10px
}

.logreg-inputs {
    margin: 0 -10px;
    padding: 10px 10px 0
}

.captcha-group > .captcha-input {
    float: left;
    margin-right: 10px;
    width: 100px;
    border-radius: 2px
}

.captcha-group > .captcha-image {
    float: left;
    height: 36px;
    width: 96px
}

button.logreg-btn {
    margin: 1em 0 0 0
}

.logreg-agreement {
    margin: 0.625em 0 0 0;
    text-align: center;
    font-size: 0.8em
}

.logreg-agreement > .link {
    color: #08c
}

.findpw-enter {
    margin: 10px;
    color: #08c
}

.agreement-wrapper {
    padding: 30px;
    background: #fff;
    font: 0.9rem/1.6 "Helvetica Neue", "Microsoft Yahei", sans-serif
}

.agreement-section {
    margin: 2em 0;
    padding: 2em 0 0;
    border-top: 2px dotted #eee
}

.agreement-section-title {
    position: relative;
    display: inline-block;
    margin: 0 0 1em -4rem;
    padding: 0 1.6em 0 4rem;
    font-size: 1.6em;
    background: #3199e8;
    color: #fff
}

.agreement-section-title:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    position: absolute;
    top: 0.1em;
    right: -0.8em;
    height: 1.4em;
    width: 1.4em;
    background: #fff
}

.agreement-section-subtitle {
    margin: 1em 0;
    font-size: 1.2em;
    color: #08c
}

.agreement-ul {
    padding-left: 1.1em;
    list-style: square outside;
    margin: 0.6em 0
}

.agreement-ol {
    padding: 0 0 0 1.4em;
    list-style: decimal outside
}

.agreement-li + .agreement-li, .agreement-p + .agreement-p {
    margin: 0.6em 0 0
}

.agreement-p {
    margin: 0;
    text-indent: 2em
}

.agreement-prologue, .agreement-li > .agreement-p, .agreement-dt > .agreement-p, .agreement-dd > .agreement-p {
    text-indent: 0
}

.agreement-dl {
    margin: 0 0 1em
}

.agreement-dt {
    margin-bottom: 0.6em;
    font-weight: bold
}

.agreement-dt:before {
    content: "";
    display: inline-block;
    margin: 0 6px 0 0;
    width: 10px;
    height: 10px;
    background: #08c
}

.agreement-dd {
    margin-left: 16px
}

.agreement-dd + .agreement-dt {
    margin-top: 1em
}

.agreement-dd > .agreement-dl > .agreement-dt:before {
    background: #9cf
}

.checknum-text {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin: 10px auto
}

.findpw-bottom-banner {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 90px
}

.findpw-bottom-banner > p {
    margin-bottom: 0
}

@media screen and (min-height: 550px) {
    .findpw-bottom-banner {
        margin-top: 140px
    }
}

@media screen and (min-height: 600px) {
    .findpw-bottom-banner {
        margin-top: 190px
    }
}

@media screen and (min-height: 650px) {
    .findpw-bottom-banner {
        margin-top: 240px
    }
}

@media screen and (min-height: 700px) {
    .findpw-bottom-banner {
        margin-top: 290px
    }
}

.findpw-blue {
    color: #349AE9
}

.findpw-way {
    float: right;
    margin: 10px;
    color: #349AE9
}

.findpw-group {
    height: 36px
}

.finpw-success-icon {
    width: 20%;
    margin: 30px auto 20px
}

.finpw-success-text {
    text-align: center;
    color: #666;
    margin: auto;
    width: 60%
}

.finpw-success-text > p {
    font-size: 18px;
    font-weight: bold
}

.finpw-success-text > span {
    display: block;
    font-size: 13px;
    margin-bottom: 15px
}

.checknum-msg {
    text-align: center;
    margin: 0 10px !important
}

.tel-msg-info {
    color: #666;
    margin-bottom: 5px;
    display: block
}

.checknum-group {
    margin: 0 -10px;
    padding: 10px 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
    margin-bottom: 10px;
    position: relative
}

.checknum-group > button {
    padding: 0;
    position: absolute;
    width: 120px;
    height: 30px;
    line-height: 30px;
    right: 13px;
    top: 14px
}

.geo-title {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font: normal 0.875em/1 "Helvetica Neue", "Microsoft Yahei", sans-serif;
    color: #666
}

.geo-title > .geo-title-note {
    color: #999;
    font-size: 12px
}

.geo-guess-wrapper {
    overflow: hidden;
    -webkit-transition: max-height 0.3s ease;
    transition: max-height 0.3s ease;
    max-height: 10rem
}

.geo-guess-wrapper.ui_invisible {
    max-height: 0
}

.geo-guess {
    background: #fffeea;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 0.875rem
}

.geo-guess-addr {
    color: #ff6000;
    font-weight: bold
}

.geo-locate-city {
    padding: 10px;
    font: bold 1.25em/1 "Helvetica Neue", "Microsoft Yahei", sans-serif;
    color: #08c
}

.geo-locate-city:focus {
    text-decoration: none;
    background: #f5f5f5
}

.geo-locate-city.uncovered > .note {
    font-size: 0.7em;
    font-weight: normal;
    color: #666
}

.geo-locate-city > .eleme-svg {
    display: block
}

.geo-cities-wrapper {
    position: relative;
    border-bottom: none
}

.geo-cities-wrapper:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 1px;
    background: #ddd
}

.geo-cities:after {
    content: "";
    display: table;
    clear: both
}

.geo-city-hot, .geo-city {
    float: left;
    width: 25%;
    height: 2.8em;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    text-align: center;
    line-height: 2.8
}

.geo-city-hot:focus, .geo-city:focus {
    text-decoration: none;
    background: #f5f5f5
}

.geo-city-hot:nth-child(4n), .geo-city:nth-child(4n) {
    border-right: none
}

.geo-city-hot {
    color: #08c
}

.geo-city {
    color: #555
}

.geo-search {
    position: relative;
    padding: 10px
}

.geo-search-results {
    background: none;
    border: none;
    opacity: 0
}

.geo-search-results.ui_show {
    visibility: visible;
    opacity: 1
}

.geo-search-results.patch_history {
    margin: -1px 0 0
}

.geo-search-results.patch_history > .geo-search-result {
    overflow: hidden
}

.geo-search-result {
    padding: 10px;
    border-top: 1px solid #eee;
    display: block;
    color: #08c;
    background: #fff
}

.geo-search-result:first-of-type {
    border-top-color: #ddd
}

.geo-search-result:last-of-type {
    border-bottom: 1px solid #ddd
}

.geo-search-result:focus {
    background: #f5f5f5;
    text-decoration: none
}

.geo-search-result > .eleme-svg {
    display: block
}

.geo-search-cap {
    padding: 10px 0 0 10px
}

.gsr-detail {
    width: 95%
}

.gsr-detail > .spot {
    margin: 0;
    color: #333
}

.gsr-detail > .address {
    margin: 0;
    font-size: 0.75em;
    color: #999
}

.gsr-detail.locals {
    display: inline-block;
    width: 90%
}

.geo-search-empty {
    display: none;
    padding: 10px;
    color: #666
}

.geo-search-empty.ui_show {
    display: block
}

.geo-search-error {
    display: none;
    margin: 10px 0 0;
    padding: 10px;
    background: #ea3106;
    color: #fff;
    font-size: 0.875rem
}

.geo-search-error.ui_show {
    display: block
}

.geo-categ-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 3px 10px;
    background: #f2f2f2;
    border-bottom: 1px solid #ddd;
    color: #666;
    font: normal 0.75em/2.2 "Helvetica Neue", "Microsoft Yahei", sans-serif
}

.ui-loader.geo-search-loading {
    top: auto;
    bottom: -5px
}

.geo-rst-list {
    background: #fff
}

.grst-block {
    padding: 16px 20px;
    border-bottom: 1px solid #d9d9d9;
    color: #333
}

.grst-block:focus {
    background: #f5f5f5;
    text-decoration: none
}

.grst-block.closed {
    background: #f2f2f2
}

.grst-block.closed > .grst-logo, .grst-block.closed > .grst-detail {
    opacity: 0.5
}

.grst-logo {
    display: block;
    margin-right: 16px;
    border-radius: 3px;
    width: 42px;
    height: 42px
}

.grst-detail {
    width: 80%;
    line-height: 1
}

a.gsr-detail {
    color: #08c;
    display: inline-block;
    width: 90%
}

.grst-name {
    font-size: 1.05em;
    line-height: 1.2;
    word-break: break-all
}

.grst-name > .rst-badge-large {
    position: relative;
    top: -3px;
    margin: 0 4px 0 0
}

.grst-rating {
    display: block;
    margin: 3px 0 6px
}

.grst-status {
    margin: 2px 0;
    color: #fff;
    font-size: 0.7em
}

.grst-status > .bookable, .grst-status > .unavailable {
    display: inline-block;
    padding: 2px 4px;
    border-radius: 2px
}

.grst-status > .bookable {
    background: #4bd463
}

.grst-status > .unavailable {
    background: #aaa
}

.grst-misc {
    color: #666;
    font-size: 0.7em
}

.grst-misc.grst-misc-close {
    font-size: 20px;
    color: #aaa;
    width: 10%;
    text-align: center;
    float: right;
    position: relative;
    line-height: 24px
}

.grst-activity {
    margin: 5px 0 0;
    border-top: 1px solid #eee
}

.grst-activity-detail {
    font-size: 0.7em;
    color: #666;
    margin: 5px 0 0
}

.grst-activity-detail > .eleme-svg {
    display: block
}

.grst-activity-detail > .rst-badge {
    margin-right: 5px
}

.brandbanner {
    overflow: hidden;
    display: block;
    position: relative;
    padding-right: 160px;
    background: #ffe;
    padding-bottom: 10px
}

.brandbanner-guide {
    width: 160px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 15px 15px 0;
    color: #ff6000;
    background: -webkit-linear-gradient(right, rgba(255, 255, 238, 0.98) 75%, rgba(255, 255, 238, 0) 100%);
    background: -webkit-linear-gradient(to left, rgba(255, 255, 238, 0.98) 75%, rgba(255, 255, 238, 0) 100%);
    background: linear-gradient(to left, rgba(255, 255, 238, 0.98) 75%, rgba(255, 255, 238, 0) 100%)
}

.brandbanner-guide > .brandbanner-guide-des {
    color: #999
}

.brandbanner-guide > .eleme-svg {
    position: absolute;
    right: 10px;
    top: 20px
}

.brandbanner-guide > .brandbanner-guide-cap, .brandbanner-guide > .brandbanner-guide-des {
    width: 65%;
    float: right
}

.brandbanner-list {
    display: block;
    white-space: nowrap;
    width: 100%
}

.brandbanner-list-img {
    border-radius: 50%;
    margin-right: 3px;
    display: inline-block
}

.loadmore {
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #999;
    display: block
}

.geo-rst-filter {
    position: relative;
    z-index: 10;
    -webkit-perspective: 700px;
    perspective: 700px
}

.geo-rst-filter.ui_toggled > .grst-filter-toggle > .eleme-svg {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg)
}

.geo-rst-filter.ui_toggled > .grst-filter-dropdown {
    -webkit-transform: rotateX(-1deg);
    transform: rotateX(-1deg)
}

.grst-filter-toggle {
    position: relative;
    z-index: 1;
    padding: 5px 0;
    background: #f2f2f2;
    border-bottom: 1px solid #d9d9d9;
    color: #08c;
    text-align: center
}

.grst-filter-toggle > .eleme-svg {
    margin-left: 4px;
    vertical-align: middle;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease
}

.grst-search {
    position: absolute;
    right: 0;
    z-index: 5;
    height: 22px;
    padding: 7px 18px 0;
    background: #f2f2f2;
    color: #08c;
    float: right
}

.grst-search > span {
    left: 0;
    top: 6px;
    height: 22px;
    position: absolute;
    border-left: 1px solid #d9d9d9
}

.grst-filter-dropdown {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    position: absolute;
    width: 100%;
    padding: 10px 0 0 10px;
    background: #f2f2f2;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    font-size: 1.05em
}

.grstf-item {
    float: left;
    margin: 0 10px 10px 0;
    padding: 5px 19px;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 1.05em
}

.restaurant-search-input {
    margin-bottom: 0 !important
}

.rst-status-wrapper {
    height: 30px;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    text-align: center
}

.rst-status-unavailable {
    background: #d8584a
}

.rst-status-bookable {
    background: #4bd463
}

.rst-menu {
    margin-bottom: 42px;
    width: 75%;
    overflow: hidden;
    /*background: url(../img/scrollit.png) no-repeat center 10px;*/
    background-size: 90px
}

.rst-item-list {
    position: relative;
    color: #666;
    border-bottom: 1px solid #ddd;
    padding: 14px 2px 14px 5px;
    font-size: 13px;
    border-right: 1px solid #ddd
}

.rst-item-fill {
    border-right: 1px solid #ddd
}

.rst-item {
    width: 25%;
    overflow: hidden;
    word-wrap: break-word;
    background: #f7f7f7
}

.rst-item:before {
    pointer-events: none;
    height: 100%;
    width: 25%;
    background: none;
    position: fixed;
    left: -1px;
    content: "";
    top: 0;
    margin-right: -1px;
    border-right: 1px solid #ddd
}

.rst-item-list > svg {
    height: 15px;
    width: 15px;
    margin: 0 2px -2px 0
}

.rst-item-num {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: inline-block;
    visibility: hidden;
    font-size: 0;
    height: 0;
    width: 0
}

.rst-item-show {
    width: 16px;
    height: 16px;
    visibility: visible;
    line-height: 16px;
    border-radius: 8px;
    background-color: #321705;
    color: #fff;
    z-index: 3;
    font-size: 12px;
    margin-right: 2px;
    text-align: center
}

.menu-categ {
    background: #fff;
    border-bottom: 1px solid #ddd
}

.menu-item-focus {
    background-color: #fff;
    padding: 14px 2px 14px 3px;
    border-right: 1px solid #fff;
    border-left: 2px solid #3199e8
}

.menu-categ-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0 10px;
    background: #f2f2f2;
    border-bottom: 1px solid #ddd;
    color: #666;
    font: normal 0.75em/2.2 "Helvetica Neue", "Microsoft Yahei", sans-serif
}

.menu-categ-title > .highlight {
    color: #ff6000
}

.menu-categ-title > .menu-categ-desc {
    font-size: 0.9em;
    color: #999
}

.menu-activity-desc {
    margin: 0;
    padding: 4px 10px;
    font-size: 11px;
    background: #fff8d5;
    border-bottom: 1px solid #ffe288;
    color: #ff6000
}

.menu-patch-border {
    display: block
}

.menu-patch-border:nth-of-type(2) {
    border-top: 1px solid #eee
}

.menu-dish {
    margin-top: 5px
}

.menu-content {
    padding: 13px 10px;
    border-top: 1px solid #eee
}

.menu-content:first-of-type {
    border-top: none
}

.mdish-info {
    width: 50%;
    line-height: 1.2;
    vertical-align: middle;
    position: relative;
    top: 4px
}

.mdish-name {
    margin: 0
}

.mdish-misc {
    margin: 0;
    font-size: 0.75em
}

.mdish-rating {
    vertical-align: baseline
}

.mdish-sales {
    color: #666;
    line-height: 20px
}

.mdish-sales > .quantity {
    font-weight: normal;
    color: #f65f24
}

.mdish-desc {
    margin: 0;
    font-size: 0.75em;
    color: #999;
    line-height: 1.2
}

.mdish-badges {
    position: relative;
    top: -3px
}

.mdish-badges > .rst-badge {
    margin-left: 4px
}

.mdish-badges > .rst-badge:first-of-type {
    margin-left: 0
}

.mdish-status {
    margin-top: 6px
}

.mdish-controls {
    height: 28px;
    line-height: 28px;
    text-align: center
}

.mdish-minus, .mdish-price {
    background: #321705;
    border-radius: 2px;
    color: #fff
}

.mdish-minus {
    width: 28px;
    visibility: hidden
}

.mdish-minus.ui_show {
    visibility: visible
}

.mdish-minus > .eleme-svg {
    position: relative;
    bottom: 5px
}

.mdish-price {
    width: 60px
}

.mdish-original-price, .mdish-must-payonline {
    width: 60px;
    margin-left: 56px;
    text-align: center;
    font-size: 10px;
    line-height: 1.2
}

.mdish-original-price {
    color: #666
}

.mdish-must-payonline {
    color: #ff6000
}

.mdish-unavailable {
    width: 60px;
    font-size: 0.875em;
    color: #666;
    line-height: 1.2;
    text-align: center
}

.mdish-ordered {
    width: 28px;
    color: #999;
    font-size: 0.875em
}

.rating-none {
    padding-top: 10px
}

.rinfo-title {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1
}

.rinfo-content {
    padding: 0.55rem 10px;
    font-size: 0.875rem
}

.rinfo-header {
    padding: 10px;
    border-bottom: 1px solid #eee
}

.rinfo-logo {
    margin-right: 16px;
    width: 42px;
    height: 42px;
    border-radius: 2px
}

.rinfo-detail {
    width: 80%
}

.rinfo-name {
    margin: 0 0 5px;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.2
}

.rinfo-flavor {
    font-size: 0.75em;
    color: #999
}

.rinfo-datas {
    margin: 0.4rem 10px
}

.rinfo-data {
    width: 25%;
    padding: 0.4rem 0;
    border-left: 1px solid #eee;
    text-align: center;
    line-height: 1
}

.rinfo-data:first-child {
    border-left: none
}

.rinfo-data > .value {
    display: block;
    margin: 0 0 0.2em;
    font-size: 1.4rem
}

.rinfo-data > .unit {
    display: block;
    font-size: 0.75rem;
    color: #666
}

.rinfo-activity-badge, .rinfo-attribute-badge {
    margin: 0 0 10px 18px
}

.rinfo-activity-badge > .rinfo-badge-title, .rinfo-attribute-badge > .rinfo-badge-title {
    margin: 0
}

.rinfo-activity-badge > .rinfo-badge-title > .rst-badge, .rinfo-attribute-badge > .rinfo-badge-title > .rst-badge {
    position: relative;
    top: -2px;
    margin: 0 0 0 -18px
}

.rinfo-activity-badge > .rinfo-badge-desc, .rinfo-attribute-badge > .rinfo-badge-desc {
    margin: 0
}

.rinfo-activity-badge {
    color: #ff6000
}

.menu-cart {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 42px;
    padding: 0 10px;
    background: #323941;
    line-height: 1
}

.mcart-summary {
    color: #fff;
    font-size: 1.05rem
}

.mcart-summary > .eleme-svg {
    margin: 0 5px 0 0;
    width: 1.1em;
    height: 1.3em;
    vertical-align: text-bottom
}

.mcart-summary > .mcart-price {
    margin: 0 0 0 2px
}

.mcart-checkout {
    padding: 6px 18px;
    border-radius: 2px;
    background: #321705;
    color: #fff
}

.mcart-note {
    color: #999
}

.cart-dish {
    /*padding: 0 10px;*/
    border-top: 1px solid #eee;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease
}

.cart-dish:first-child {
    border-top: none
}

.cart-dish.ui_remove {
    opacity: 0
}

.cdish-note {
    position: relative;
    top: -8px;
    margin-left: 0;
    text-align: left;
    color: #999;
    font-size: 12px
}

.cart-extra {
    padding: 13px 10px;
    border-top: 1px solid #eee;
    line-height: 1.2;
    color: #ff6000
}

.cart-extra > .cdish-cost, .cart-extra > .cdish-quantity {
    color: #ff6000
}

.cart-extra > .cdish-note {
    display: none;
    position: absolute;
    left: 10px;
    top: 100%;
    margin-top: -23px
}

.cart-extra.withNote {
    position: relative;
    padding-bottom: 26px
}

.cart-extra.withNote > .cdish-note {
    display: block
}

.abandoned {
    color: #999
}

.abandoned > .cdish-cost, .abandoned .cdish-quantity {
    color: #999
}

.cdish-detail {
	width:100%;
    padding: 2px;
	line-height: 1.2;
}

.cdish-name {
    display: inline-block;
    width: 40%;
}

.cdish-quantity {
	width: 15%;
	color: #999;
	text-align: center;
	display: inline-block;
}

.cdish-cost {
	display: inline-block;
	width: 15%;
	color: #666;
	text-align: right;
}

.cdish-control {
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
    height: 0;
    overflow: hidden
}

.cdish-control.ui_show {
    height: 47px
}

.cdish-remove {
	/* margin-top: 4px; */
	/* padding: 0 16px; */
	display:inline-block;
	height: 30px;
	width: 10%;
	text-align: center;
}

.cdish-remove > .eleme-svg {
    width: 100%;
	height: 100%;
	padding: 5%;
	vertical-align: middle;
	pointer-events: none;
}

.cdish-edit-number {
	display:inline-block;
	width: 25%;
}

.cdish-edit {
	/* margin: 4px 16px 0 0; */
	display: inline-block;
	width: 35%;
	border: 1px solid #184202;
	border-radius: 2px;
	color: #184202;
	font-size: 1.2rem;
	font-family: "Droid Sans Mono", "Courier New", monospace;
}

.cdish-edit > .decrease, .cdish-edit > .increase {
	display: block;
	padding: 20%;
	text-align: center;
}

.cart-footer {
    margin: 10px;
}

.cart-footer > .ui-btn {
    font-weight: bold
}

.cart-summary {
	width: 95%;
    text-align: right;
    color: #666;
}

.total-cost {
    color: #d8584a;
	font-size: 150%;
}

.cart-summary > .use-coupon-btn {
    float: left;
    color: #08c
}

.delivery-block, .dlist-item {
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}

.delivery-block.ui_error, .ui_error.dlist-item {
    border-color: #ea3106;
    color: #ea3106
}

.dblock-title {
    margin: 0;
    font-weight: normal;
    font-size: 1em
}

.dblock-content {
    width: 54%;
    color: #666;
    text-align: right
}

.dblock-content.non-selectable {
    margin-right: 14px
}

.dblock-content > .eleme-svg {
    margin-left: 5px;
    vertical-align: text-bottom
}

.dblock-content-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 92%
}
.slide-blockOther {
    bottom: 0;
    width: 100%;
    overflow: auto;
    display: none;
    z-index: 40;
    background: #f2f2f2;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease
}
.slide-block {
    position: fixed;
    top:0;
    bottom: 0;
    width: 100%;
    overflow: auto;
    display: none;
    z-index: 40;
    background: #f2f2f2;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease
}
.slide-block.ui_slide_in {
    display: block;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.delivery-misc .delivery-block, .delivery-misc .dlist-item {
    padding: 7px;
    border-top: 1px solid #eee
}

.delivery-misc > .delivery-block:first-of-type, .delivery-misc > .dlist-item:first-of-type {
    border-top: none
}

.dlist-item {
    padding: 10px;
    border-top: 1px solid #eee
}

.dlist-item:first-of-type {
    border-top: none
}

.dlist-item.ui_selected {
    background: #FFF8C3
}

.dlist-item-content {
    width: 92%
}

.dlist-item-del {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 8%;
    padding: 3px;
    text-align: right
}

.delivery-quick-note > .dnote {
    display: inline-block;
    margin: 0 3px 7px 0;
    padding: 2px 4px;
    background: #f5f5f5;
    color: #666;
    text-align: center
}

.delivery-quick-note > .dnote.ui_selected {
    background: #3199e8;
    color: #fff
}

.delivery-time {
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    line-height: 1.6;
    color: #666
}

.delivery-time::-ms-expand {
    display: none
}

.delivery-time:focus {
    outline: none
}

.delivery-mcb-text, .delivery-mcb-block-msg, .delivery-mcb-center-text {
    font-size: 12px;
    color: #666
}

.delivery-mcb-text > .phone-number, .delivery-mcb-block-msg > .phone-number, .delivery-mcb-center-text > .phone-number {
    font-weight: bold
}

.delivery-mcb-text > .highlight, .delivery-mcb-block-msg > .highlight, .delivery-mcb-center-text > .highlight {
    color: #08c
}

.delivery-mcb-block-msg {
    margin: 4px 0 10px;
    padding: 4px 4px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 1px
}

.delivery-mcb-block-msg > .phone-number {
    color: #ff6000;
    font-weight: normal
}

.delivery-mcb-center-text {
    text-align: center
}

.delivery-mcb-form {
    margin-bottom: 12px
}

.delivery-mcb-input-group {
    margin-bottom: 12px
}

.delivery-mcb-input-group .ui-btn {
    top: 5px;
    right: 5px;
    bottom: 5px;
    width: 90px;
    font-size: 12px
}

.delivery-cart-detail {
    font-size: 14px
}

.delivery-cart-detail > div {
    padding: 13px 10px
}

.cdish-middleline {
    text-decoration: line-through
}

.cdish-note-light {
    color: #d0021b
}

.cdish-cost-all {
    color: #d8584a;
    text-align: right;
	width:30%;
}

.autoaddress-trigger {
    pointer-events: none
}

.order-success {
    padding: 16px 32px
}

.order-success > .svg-success {
    display: block;
    width: 42px;
    height: 42px
}

.order-success-info {
    margin-left: 16px
}
.order-id{

    padding-left: 36px;
}
.order-timer {
    /*border-top: 1px solid #ddd;*/

    padding-left: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.order-success-footer {
    border-top: 1px solid #ddd
}

.order-success-footer > .link {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 8px 0;
    width: 50%;
    color: #08c;
    text-align: center
}

.order-success-footer > .link:first-of-type {
    border-right: 1px solid #ddd
}

.app-promotion {
    margin: 25px 10px 10px
}

.app-promotion > .caption {
    color: #666;
    font-size: 0.75em;
    text-align: center
}

.app-promotion > .ui-btn > .eleme-svg {
    display: inline-block;
    margin: 0 3px 0 0;
    width: 18px;
    height: 18px;
    vertical-align: text-bottom
}

.trade-order {
    display: block;
    padding: 0.8rem 10px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    color: #333
}

.trade-order:focus {
    background: #f5f5f5;
    text-decoration: none
}

.torder-time {
    color: #999;
    margin: 0 0 5px;
    font-size: 0.9rem;
    line-height: 1
}

.torder-rst {
    width: 70%
}

.torder-rst-logo {
    margin: 0 12px 0 0;
    width: 44px;
    height: 44px;
    border-radius: 2px
}

.torder-misc {
    width: 75%
}

.torder-misc > .rst-name {
    display: block;
    margin: 0;
    line-height: 1.2;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.torder-misc > .rst-name:visited {
    color: inherit
}

.torder-misc > .total-cost {
    margin: 2px 0 0;
    font-size: 0.9rem;
    color: #999
}

.torder-status {
    text-align: right;
    position: relative;
    /*top: -13px;*/
    margin-left:13px ;
    font-size: 0.9rem;
    color: #999
}

.torder-status.red {
    color: #d8584a
}

.torder-status.blue {
    color: #08c
}

.torder-status.orange {
    color: orange
}

.torder-status.green {
    color: #5aab04
}

.trade-report {
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-weight: normal;
    font-size: 1.05rem;
    line-height: 1
}

.trade-report > .svg-arrow-forward {
    position: absolute;
    right: 10px
}

.touch-disabled {
    pointer-events: none
}

.report-helper {
    float: right;
    font-size: 1rem;
    color: #666;
    text-align: right;
    width: 20%
}

.report-status {
    font-size: 0.85em;
    float: left;
    margin: 2px 8px 0 0
}

.ui-textarea {
    height: 128px;
    padding: 20px
}

.tblock-title {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-weight: normal;
    font-size: 1.05rem;
    line-height: 1
}

.tblock-title > .tblock-title-helper {
    float: right;
    font-size: 1rem;
    color: #666;
    width: 31%;
    text-align: right
}

.tblock-title > .tblock-title-helper > .ui-multiple {
    float: left;
    width: 23%
}

.tblock-title > .tblock-title-helper > .torder-cost {
    width: 67%;
    float: right;
    margin-left: 0
}

.torder-cost {
    margin: 0 0 0 6px;
    color: #d8584a
}

.tblock-list, .trade-bill {
    padding: 0 10px
}

.tblock-list-item, .tbill-list-item {
    padding: 6px 0;
    border-top: 1px solid #eee;
    color: #666;
    font-size: 0.85em
}

.tblock-list-item:first-of-type, .tbill-list-item:first-of-type {
    border-top: none
}

.tbill-list {
    border-top: 1px solid #eee
}

.tbill-list:first-of-type {
    border-top: none
}

.tbill-list-item {
    font-size: 0.85em
}

.tdish-name {
    display: block;
    width: 65%
}

.tdish-quantity {
    display: block;
    width: 11%;
    color: #999;
    text-align: right
}

.tdish-cost {
    display: block;
    width: 20%;
    color: #999;
    text-align: right
}

.select-button {
    position: absolute
}

.mock-title {
    border: 0
}

.mock-block {
    padding-bottom: 10px
}

.mock-button {
    float: right;
    margin-top: 13px
}

.mock-error {
    border-color: #d8584a !important
}

.mock-textarea {
    margin: 0 2%;
    width: 96% !important;
    margin-bottom: 0 !important
}

.mock-radio {
    z-index: 5;
    height: 45px;
    position: absolute;
    width: 100%;
    opacity: 0
}

.pay-btn {
    margin: 10px auto;
    width: 96%
}

.body-white {
    background: #fff;
    height: 100%
}

.body-white .ui-btn {
    font-size: 16px
}

.body-white > body {
    height: 100%;
    background: #fff;
    font-size: 14px;
    color: #666
}

.body-white > body .spell-message {
    background: #eee
}

.body-white .highlight {
    color: #f80
}

.spell-canceled {
    position: absolute;
    top: 50%;
    left: 5%;
    margin-top: -50px;
    width: 90%;
    padding: 0 !important;
    background: #eee
}

.spell-infor {
    padding: 6px 15px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #ddd
}

.spell-infor {
    position: relative
}

.spell-infor .spell-infor-last {
    position: absolute;
    right: 15px;
    color: #3199e8;
    top: 6px
}

.spell-form {
    background: #eee;
    padding: 15px
}

.spell-fail {
    color: #999;
    text-align: center;
    padding-top: 15%;
    background: #fff;
    min-height: 150px
}

.spell-fail > p, .spell-detail p {
    margin: 0
}

.persondish {
    padding: 15px;
    border-bottom: 1px solid #eee
}

.closed .persondish {
    opacity: 0.5;
    pointer-events: none;
    background: #f2f2f2;
    border-color: #eee
}

.closed .persondish.me {
    opacity: 1;
    pointer-events: inherit;
    background: #fff
}

.persondish-text {
    box-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-flex: 1;
    padding: 0 0 0 15px
}

.persondish-detail > span {
    white-space: nowrap;
    color: #999
}

.persondish-detail > .cdish-name {
    width: 68%;
    color: #666
}

.persondish-detail > .cdish-quantity {
    width: 10%;
    overflow: visible
}

.persondish-detail > .cdish-cost {
    width: 20%;
    font-weight: 900;
    color: #666
}

.persondish-circle-name {
    -webkit-flex: none;
    font-weight: bold;
    flex: none;
    display: block;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 3px 0 0 0;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    text-transform: uppercase
}

.persondish-holder {
    -webkit-flex: none;
    flex: none;
    width: 40px;
    height: 40px;
    display: block
}

.persondish-holder > img {
    position: relative;
    top: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.persondish-holder svg {
    width: 49px !important;
    height: 49px !important;
    margin: -4px 0 0 -3px !important
}

.persondish-name {
    font-size: 16px;
    padding-bottom: 2px
}

.spell-submit-footer {
    margin: 30px 10px 0
}

.spell-message {
    background: #f2f2f2;
    padding: 15px 25px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    font-weight: bold
}

.spell-message small {
    display: block;
    line-height: 1.5;
    position: relative;
    font-weight: 300;
    top: -3px;
    color: #666
}

.spell-message-wait {
    color: #08c
}

.spell-message-wait > .eleme-svg.svg-time {
    margin-right: 5px;
    fill: #08c;
    stoke: #3199e8
}

.spell-message-success {
    color: #2bcd40
}

.spell-message-success > .eleme-svg.svg-checkmark {
    margin-right: 5px;
    fill: #2bcd40
}

.spell-message-locked {
    color: #ff6000
}

.spell-message-locked > .eleme-svg.svg-pause, .spell-message-locked .eleme-svg.svg-close, .spell-message-locked .eleme-svg.svg-time {
    stroke: #ff6000;
    margin-right: 5px;
    fill: #ff6000
}

.spell-red > .persondish-circle-name {
    background: #ff294b
}

.spell-orange > .persondish-circle-name {
    background: #ff6000
}

.spell-yellow > .persondish-circle-name {
    background: #ffb038
}

.spell-green > .persondish-circle-name {
    background: #2bcd40
}

.spell-cyan > .persondish-circle-name {
    background: #6dd3dc
}

.spell-blue > .persondish-circle-name {
    background: #3199e8
}

.spell-purple > .persondish-circle-name {
    background: #bc97ff
}

input.spell-input-white {
    background: #fff;
    padding-left: 10px;
    padding-right: 10px
}

input.spell-input-white.ui_error {
    border-color: #ea3106
}

input.spell-input-white:focus {
    border-color: #87cefa !important
}

input.spell-input-white.ui_error:-moz-placeholder {
    color: #ea3106
}

input.spell-input-white.ui_error:-ms-input-placeholder {
    color: #ea3106
}

input.spell-input-white.ui_error::-webkit-input-placeholder {
    color: #ea3106
}

input.spell-input-white:focus:-moz-placeholder {
    color: #aaa !important
}

input.spell-input-white:focus:-ms-input-placeholder {
    color: #aaa !important
}

input.spell-input-white:focus::-webkit-input-placeholder {
    color: #aaa !important
}

.spell-name {
    margin: 10px
}

.spell-desc {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #999
}

.spell-message svg {
    vertical-align: text-top
}

.eleme-svg.svg-sofa {
    stroke: #aaa;
    width: 70px;
    height: 54px;
    margin-bottom: 15px
}

.download-btn {
    font-size: 16px;
    font-weight: normal;
    display: block;
    width: 66%;
    line-height: 36px;
    margin: 14px auto 14px;
    color: #fff;
    padding: 0 15px;
    background-color: #3199e8;
    border-radius: 2px
}

.download-btn svg {
    fill: #fff !important;
    margin-top: -2px
}

.persondish-circle-extra {
    -webkit-flex: none;
    font-weight: bold;
    flex: none;
    display: block;
    width: 26px;
    height: 26px;
    padding: 5px;
    margin: 3px 0 0 0;
    border-radius: 20px;
    border: 2px #f80 solid;
    text-align: center;
    line-height: 12px;
    font-size: 26px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    text-transform: uppercase
}

.spell-extra {
    color: #f80 !important
}

.spell-extra .persondish-detail > span {
    color: #f80 !important
}

.spell-same {
    margin-top: 10px;
    color: #3199e7;
    border: 1px solid #3199e7;
    padding: 0 10px;
    display: inline-block;
    height: 22x;
    line-height: 22px;
    border-radius: 2px;
    font-size: 12px
}

.download-card {
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
    padding-top: 10%
}

.download-card-hero {
    width: 70%;
    margin-bottom: 37px
}

.download-card-logo {
    width: 40%
}

.download-card-desc {
    font-size: 15px;
    margin-top: 5px
}

.download-card-button {
    display: block;
    margin: 20px auto;
    line-height: 48px;
    border-radius: 3px;
    width: 60%;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background-color: #57d422
}

.payonline-item {
    font-size: 14px
}

.payonline-banner {
    font-size: 12px;
    color: #999;
	margin: 0 1em;
}

.payonline-item-name {
    width: 80%
}

.payonline-item2-name {
    margin-left: 20px;
    width: 80%
}
.payonline-button {
    float: right;
    margin-top: 2px;
	width:10%;
}

.payonline-ad {
    padding: 8px;
    margin: 0 10px 10px;
    font-size: 12px;
    background: #fff8d5;
    border: 1px solid #ffe288;
    color: #ff6000
}

.payonline-gray {
    color: #999;
    pointer-events: none
}

.pay-pwinput {
    margin: 0 !important
}

.pay-extra {
    border: 0;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff
}

.pay-pwinput-box {
    padding: 10px
}

.payway-block {
    padding: 10px 10px;
    border-top: 1px solid #eee
}

.payway-logo {
    width: 30px;
    height: 30px;
    display: block
}

.payway-detail {
    display: block;
    width: 50%;
    line-height: 30px;
    margin-left: 13px
}

.payway-button {
    display: block;
    height: 26px;
    width: 34%;
    -webkit-flex: 1;
    flex: 1;
    text-align: right;
    margin: 5px 5px 0 0
}

.hongbao-amount {
    display: block;
    width: 35%
}

.hongbao-date {
    display: block;
    width: 45%
}

.hongbao-block {
    display: block;
    width: 7%
}

.hongbao-button {
    height: 21px;
    display: block;
    float: right;
    margin-top: 2px
}

.pic {
    padding-left: 15px;
    padding-top: 10px;
}

.center {
    text-align: center;

}

.left {
    text-align: left;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.pack-dish {
    padding: 0 10px;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    /*border-left: 1px solid #eee;*/
    /*border-right: 1px solid #eee;*/
    /*background-color: #F2F2F2;*/
}

.text1{
	text-align:center;
	margin:0 auto;
	color:#321705;
}

.pack-selected{
    border: 6px solid #F9B91F;
    /*background-color: #321705;*/
}

.delivery-block-potinfo-text {
  width: 80%;
}

span.delivery-block-potinfo-text-name {
  display: block;
  width: 55%;
  background-color: #184202;
  color: white;
  text-align: left;
  padding: 2%;
  line-height: initial;
}

span.delivery-block-potinfo-text-desc {
  display: block;
  margin: 0.2em 0.8em;
}

span.cdish-name-dilivery-dilivery {
  color: chocolate;
  font-weight: bold;
}

.ui-coupon {
  margin: 0 2.5%;
}

.ui-coupon-quantity {
  margin: 1em;
  font-size: 90%;
}

.ui-coupon-quantity >span {
	color:#184202;
	font-weight:bold;
}

.ui-coupon-detail {
  margin: 15px 0;
}

.ui-coupon-detail-discount {
  display: inline-block;
  width: 20%;
  color: #184202;
  vertical-align: top;
  border-left: solid 3px;
  text-align: center;
}

.ui-coupon-detail-desc {
  display: inline-block;
  width: 75%;
}

.ui-coupon-detail-desc-text {
  display: inline-block;
  width: 80%;
}

.ui-coupon-detail-desc-button {
  display: inline-block;
}

.ui-coupon-detail-discount-symbol {
  display: inline-block;
  width: 20%;
  font-size: 20%;
}

.ui-coupon-detail-discount-price {
  display: inline-block;
  font-size: 200%;
}

.ui-coupon-detail-desc-text-condition {
  font-size: 50%;
  color: gray;
  margin-top:-4px;
}


 .ui-coupon-confirm {
  display: block;
  width: 85%;
  /* height: 3.5em; */
  background: rgba(128,128,128,0.5);
  position: fixed;
  z-index: 9999;
  margin: 10px;
  bottom: 0;
  text-align: center;
}

.ui-coupon-confirm-check{
  display: inline-block;
  width: 100%;
  height: 2em;
  line-height: 200%;
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #321705;
  color: white;
    text-align: center;
 }
 
.sum-addressList-address {
  text-align: right;
}
.sum-addressList-phone {
text-align: right;
}
.ui-input.recharge-input-desc {
  display: inline-block;
}
input.ui-input.recharge-input {
  width: 70%;
  display: inline-block;
}
.recharge-tip {
  font-size: 20%;
  margin: 4px 0 4px 30%;
  width: 60%;
  /* text-align: right; */
  color: #d8584a;
}
.balance {
  width: 100%;
  text-align: center;
}
.area-out-desc {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  font-size: 92%;
}
img.area-out-img {
  width: 25%;
  vertical-align: middle;
}
.area-out-buttom {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}